<div class="text-center mb-4">
    <h2>Order List</h2>
</div>

<div>
    <table id="ordersTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Model</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#ordersTable').DataTable({
                ajax: '/order/GetOrderList',
                columns: [
                    { data: 'id', width: 10 },
                    { data: 'model', width: 50 },
                    { data: 'price', width: 30 }
                ]
            });
        });
    </script>
}